*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease; 
    scroll-behavior: smooth;
    /* ---primary-color:#385f96;
    ---text-color:#4e4e4e;
    ---wrap-color:#6ddbe1;  */
}
html{
    width: 100%;
    height: auto;
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}
img{
    max-width:100%;
    height: auto;
    cursor: pointer;
    
 }
 img:hover{
    transform: scale(1.03);

 }
 .container{
    padding: 0% 5%;
 }

 /*------------ header start here ------------ */

 header{
    padding: 2% 7%;
    width: 100%;
    margin: 0 auto;
 }
 .head{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
 }
 .head .logo{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2px;   
 }
 .logo > a{
    color: #385f96;
    cursor: pointer;
 }
 span{
    text-transform: uppercase;
 }
 nav{
    width: 100%;
 }
 nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 10px;
 }
 nav ul li > a{    
    font-size: 20px;
    font-weight: 500;
    line-height: 27.1px;
    letter-spacing: 0.005em;
    text-align: left;
    text-transform: capitalize;
    color: #385f96;
    display: block;
 }
 nav ul li > a:hover{
    color:#0a69ee ;
    transform: scaleY(1.1);
 }
 button{
    background-color: #385f96;
    color: #fff;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid  #385f96 ;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
 }
 button:hover{
    border: 1px solid  #385f96 ;
    color: #385f96;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

 }
/* this is pseduo class  */
 a.active{
    font-weight: 700;
 }
 a.active:visited{
    color: rgba(38, 136, 54, 0.199);
 }
 a.active:hover{
    color: #385f96;
 }

  /*------------ main start here ------------ */

  section{
    max-width: 100%;
    padding: 5% 4%;
    height: auto;
  }
  .key, 
  .work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
    gap: 80px;
  }
  .key-heading, 
  .work-heading{
    width: 60%;
  }
  .keyimage{
    width: 40%;
  } 
  .wrap-icon{
    position: absolute;
    margin-top:60px;
    margin-left: -15px;
  }
  .wrap-icon .key-icon{
    max-width: 150px;
    height: auto;
  }
  .key-heading{ 
    position: relative;
    z-index: 1;
    max-width: 480px;   
  }
  .key-heading h1{
    font-size: 48px;
    font-weight:700 ;
    line-height: 65px;
    color: #385f96;
    margin-top: 50px;
  }
  .key-heading > p,
  .work-heading > p{
    margin: 35px 0;
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    color: #4e4e4e;
    text-align: justify;

  }
  .work-heading{
    max-width: 520px;
  }
  .work-heading > h2{
    font-size: 36px;
    font-weight:700 ;
    line-height: 48px;
    color: #385f96;

  }
  .wrapper{
    position: relative;
  }
  .wrap{
    position: absolute;
    width: 80px;
    height: 5px;
    top: -10px;
    background-color: aqua;
  }

  /* ----------------footer start here----------  */
  footer{
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1583339824000-5afecfd41835?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  footer::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient( rgba(15, 189, 202, 0.363) 27%, #2461b6d7 100%);
    
  }
  
  .foot{
    padding: 5% 9%;
    margin: 0 auto;
  }
  .foot-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
  .foot-heading{
    max-width: 450px;
  }
  .foot-heading > h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 35px;
    color: #385f96;

  }
  footer > p{
    text-align: center;
    background-color: #385f96;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    padding: 10px;
  }
  .foot-heading{
    width: 60%;
  }
  .foot-img{
    width: 40%;
  }
  @media (max-width:1200px){
    header{
        padding: 2% 2%;  
     }
     .container{
        padding: 0% 2%;
     }
     .head .logo{
        font-size: 35px;
        font-weight: 700;
        letter-spacing: -2px;   
     }
  }
  @media (max-width:980px){
    nav ul li > a{    
        font-size: 18px;
     }
     
     button{
        padding: 10px 30px;
        font-size: 14px;
     }
     .key-heading h1{
        font-size: 38px;
        font-weight:600 ;
        line-height: 40px;
        margin-top: 40px;
      }
      .key-heading > p,
      .work-heading > p{
        font-size: 14px;
        font-weight:400;
        line-height: 20px;
    
      }
      .wrap-icon .key-icon{
        max-width: 80px;
        margin-top: -30px;
      }
      .foot-heading > h2,
      .work-heading > h2{
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -1px;
      }
      .foot-heading > p,
      .work-heading > p{
       margin: 15px 0;
      }
      footer p{
        font-size: 14px;
      }


  }
  @media (max-width:680px){
    .key,
    .foot-section{
        flex-direction: column;
    }
    .work{
        flex-direction: column-reverse;
    }
    .foot-img, 
    .keyimage, 
    .key-heading, 
    .work-heading, 
    .foot-heading{
        width: 100%;
    }
    nav ul {  
        gap: 10px;
     }
    nav ul li > a{
        font-size: 14px;
    }
    .head .logo{
        font-size: 25px;
    }
    button{
        font-size: 12px;
        font-weight: 500;
        padding: 8px 15px;
    }
  }
  @media (max-width:580px){
    .foot-img,
    .keyimage{
        width: 300px;
    }
    nav{
        display: none;
    }
    header{
        padding: 2% 7%;
    }
  }
  
  /*------------- annimation section ------------- */
  .wrap-icon{
    animation-name: wrapicon;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate
  }
  @keyframes wrapicon{
    0%{
        margin-top: 20px;
    }
    50%{
        margin-right: 10px;

    }
    75%{
        margin-left: 10px;
    }
    100%{
        margin-bottom: 20px;
    }
  }
  .wrap{
    animation-name: wrap;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-delay: 1s;
    
  }
  @keyframes wrap{
    from {left: 0px;}
  to {left: 30px;}

  }
  



  

